@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  overflow-x: hidden;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

/* =========================================
   Animasi untuk Saly-13 (Loop Up-Down)
========================================= */
@keyframes loopUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.animation-loop {
  animation: loopUpDown 3s ease-in-out infinite;
}

/* =========================================
   Animasi bergerak kiri-kanan untuk Saly-8
========================================= */
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

.animation-move {
  animation: moveLeftRight 3s ease-in-out infinite;
}

/* =========================================
   Animasi Caret (Blinking)
========================================= */
@keyframes blinkCaret {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(173, 48, 25);
  }
  100% {
    border-color: transparent;
  }
}

.caret {
  display: inline-block;
  width: 10px;
  height: 50px;
  margin-left: 5px;
  border-right: 5px solid rgb(150, 22, 161);
  animation: blinkCaret 0.75s step-end infinite;
}

/* =========================================
   Gradient Balls Background Animation
========================================= */
@keyframes gradientMove {
  0% {
    background-position: -100% -100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: -100% -100%;
  }
}

.bg-gradient-balls {
  background: radial-gradient(
    circle,
    rgba(7, 0, 61, 0.925) 10%,
    rgba(0, 0, 0, 0.295) 40%
  );
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(20px);
  -webkit-filter: blur(20px);
}

/* =========================================
   Z INDEX
========================================= */
/* Pastikan header berada di lapisan paling atas */
header {
  z-index: 999;
  position: fixed;
}

/* Pastikan bg-gradient-balls berada di lapisan paling belakang */
.bg-gradient-balls {
  z-index: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Gambar karakter di belakang teks */
.character-image {
  z-index: 1;
  position: absolute;
}

/* Gambar tangan di belakang teks */
.hand-image {
  z-index: 0;
  position: absolute;
}
/* =========================================
   BLUR HOVERING
========================================= */

.hover-effect {
  transition: transform 0.3s;
}
.hover-effect:hover {
  transform: scale(1.5);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
}

/* =========================================
   PROJECTS
========================================= */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20%);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-in-out forwards;
}

.animate-slideDown {
  animation: slideDown 0.5s ease-in-out forwards;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: radial-gradient(
    circle at 50% 50%,
    #0000 0,
    #0000 2px,
    hsl(0 0 4%) 2px
  );
  background-size: 8px 8px;
  --f: blur(1em) brightness(6);
  animation: hii 10s linear infinite;
}

@keyframes hii {
  0% {
    backdrop-filter: var(--f) hue-rotate(0deg);
  }
  to {
    backdrop-filter: var(--f) hue-rotate(360deg);
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  --c: #09f;
  background-color: #000;
  background-image: radial-gradient(4px 100px at 0px 235px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 235px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 117.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 252px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 252px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 126px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 150px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 150px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 75px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 253px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 253px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 126.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 204px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 204px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 102px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 134px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 134px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 67px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 179px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 179px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 89.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 299px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 299px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 149.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 215px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 215px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 107.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 281px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 281px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 140.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 158px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 158px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 79px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 210px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 210px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 105px, var(--c) 100%, #0000 150%);
  background-size: 300px 235px, 300px 235px, 300px 235px, 300px 252px,
    300px 252px, 300px 252px, 300px 150px, 300px 150px, 300px 150px, 300px 253px,
    300px 253px, 300px 253px, 300px 204px, 300px 204px, 300px 204px, 300px 134px,
    300px 134px, 300px 134px, 300px 179px, 300px 179px, 300px 179px, 300px 299px,
    300px 299px, 300px 299px, 300px 215px, 300px 215px, 300px 215px, 300px 281px,
    300px 281px, 300px 281px, 300px 158px, 300px 158px, 300px 158px, 300px 210px,
    300px 210px, 300px 210px;
  animation: hi 150s linear infinite;
}

@keyframes hi {
  0% {
    background-position: 0px 220px, 3px 220px, 151.5px 337.5px, 25px 24px,
      28px 24px, 176.5px 150px, 50px 16px, 53px 16px, 201.5px 91px, 75px 224px,
      78px 224px, 226.5px 350.5px, 100px 19px, 103px 19px, 251.5px 121px,
      125px 120px, 128px 120px, 276.5px 187px, 150px 31px, 153px 31px,
      301.5px 120.5px, 175px 235px, 178px 235px, 326.5px 384.5px, 200px 121px,
      203px 121px, 351.5px 228.5px, 225px 224px, 228px 224px, 376.5px 364.5px,
      250px 26px, 253px 26px, 401.5px 105px, 275px 75px, 278px 75px,
      426.5px 180px;
  }

  to {
    background-position: 0px 6800px, 3px 6800px, 151.5px 6917.5px, 25px 13632px,
      28px 13632px, 176.5px 13758px, 50px 5416px, 53px 5416px, 201.5px 5491px,
      75px 17175px, 78px 17175px, 226.5px 17301.5px, 100px 5119px, 103px 5119px,
      251.5px 5221px, 125px 8428px, 128px 8428px, 276.5px 8495px, 150px 9876px,
      153px 9876px, 301.5px 9965.5px, 175px 13391px, 178px 13391px,
      326.5px 13540.5px, 200px 14741px, 203px 14741px, 351.5px 14848.5px,
      225px 18770px, 228px 18770px, 376.5px 18910.5px, 250px 5082px,
      253px 5082px, 401.5px 5161px, 275px 6375px, 278px 6375px, 426.5px 6480px;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* =========================================
   Velocity Teks
========================================= */
.marquee-container-velocity {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.marquee-track {
  display: flex;
  align-items: center;
}
#ui-parallax {
  margin-top: 100px; /* Tambahkan ruang manual */
}
