@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Untuk mencegah scroll horizontal jika ada elemen keluar layar */
}

body {
  overflow-x: hidden;
}

/* =========================================
   Animasi untuk Saly-13 (Loop Up-Down)
========================================= */
@keyframes loopUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.animation-loop {
  animation: loopUpDown 3s ease-in-out infinite;
}

/* =========================================
   Animasi bergerak kiri-kanan untuk Saly-8
========================================= */
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

.animation-move {
  animation: moveLeftRight 3s ease-in-out infinite;
}

/* =========================================
   Animasi Caret (Blinking)
========================================= */
@keyframes blinkCaret {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(173, 48, 25);
  }
  100% {
    border-color: transparent;
  }
}

.caret {
  display: inline-block;
  width: 10px;
  height: 50px;
  margin-left: 5px;
  border-right: 5px solid rgb(150, 22, 161);
  animation: blinkCaret 0.75s step-end infinite;
}

/* =========================================
   Gradient Balls Background Animation
========================================= */
@keyframes gradientMove {
  0% {
    background-position: -100% -100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: -100% -100%;
  }
}

.bg-gradient-balls {
  background: radial-gradient(
    circle,
    rgba(7, 0, 61, 0.925) 10%,
    rgba(0, 0, 0, 0.295) 40%
  );
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(20px);
  -webkit-filter: blur(20px);
}

/* =========================================
   Z INDEX
========================================= */
/* Pastikan header berada di lapisan paling atas */
header {
  z-index: 999;
  position: fixed;
}

/* Pastikan bg-gradient-balls berada di lapisan paling belakang */
.bg-gradient-balls {
  z-index: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Gambar karakter di belakang teks */
.character-image {
  z-index: 1;
  position: absolute;
}

/* Gambar tangan di belakang teks */
.hand-image {
  z-index: 0;
  position: absolute;
}
/* =========================================
   RUNNING TEKS
========================================= */
